:root{
    --hero-color: #333333;
    --secondary-color: #2C3878;
    --third-color: #D9D9D9;
    --description-color: #9C9C9C;
    --border-color: #3C3C3C;
    --black: #000000;
    --white: #FFFFFF;
}