.hero_title {
    margin: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 78px;
    color: var(--black);
    font-family: 'Poppins-Bold', sans-serif;
}

.main_wrapper {
    padding-top: 60px;
    padding-bottom: 100px;
}



.description {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    width: 100%;
}

.hero_description {
    max-width: 518px;
    margin: 40px auto 0;
}

.hero_picture {
    width: 100%;
    margin-top: 53px;
}
