@font-face {
    font-family: "Poppins-SemiBold";
    src: local("Poppins-SemiBold"),
    url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: "Poppins-Regular";
    src: local("Poppins-Regular"),
    url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
body {
    font-family: "Poppins-Regular", sans-serif;
    font-style: normal;
}